<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>SaveStudentServlet</servlet-name>
    <servlet-class>com.servlet.SaveStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveStudentServlet</servlet-name>
    <url-pattern>/SaveStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteData</display-name>
    <servlet-name>DeleteData</servlet-name>
    <servlet-class>com.servlet.DeleteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteData</servlet-name>
    <url-pattern>/DeleteData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditData</display-name>
    <servlet-name>EditData</servlet-name>
    <servlet-class>com.servlet.EditData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditData</servlet-name>
    <url-pattern>/EditData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPDFServlet</display-name>
    <servlet-name>DownloadPDFServlet</servlet-name>
    <servlet-class>com.servlet.DownloadPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPDFServlet</servlet-name>
    <url-pattern>/DownloadPDFServlet</url-pattern>
  </servlet-mapping>
</web-app>